.hljs {
  display: block;
  background: #282c34;
  color: #6ea971;
  padding: 1em;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.6;
}

.hljs-comment,
.hljs-quote,
.hljs-doctag {
  color: #5C6370;
  font-style: italic;
}

.hljs-string,
.hljs-title,
.hljs-tag,
.hljs-attribute .hljs-string,
.hljs-meta .hljs-string,
.hljs-name .hljs-string,
.hljs-deletion .hljs-string,
.hljs-meta-string {
  color: #ccc52c;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link,
.hljs-function,
.hljs-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-deletion,
.hljs-variable.language,
.hljs-title,
.hljs-link,
.hljs-emphasis,
.hljs-addition,
.hljs-selector-class>.hljs-operator,
.hljs-selector-id>.hljs-operator,
.hljs-selector-pseudo>.hljs-operator {
  color: #ea3a4a;
  font-weight: 700;
}

.hljs-symbol {
  color: #FFFF00;
}

.hljs-regexp .hljs-string {
  color: #98c379;
}

.hljs-bullet {
  color: #56B6C2;
}

.hljs-property {
  color: #00b875;
}

.hljs-number,
.hljs-meta {
  color: #0030f5;
}

.hljs-attribute,
.hljs-params {
  color: #c83c47;
}

.hljs-meta-string {
  color: #98c379;
}

.hljs-attribute .hljs-string,
.hljs-meta .hljs-string,
.hljs-name .hljs-string,
.hljs-deletion .hljs-string {
  color: #98c379;
}

.hljs-function,
.hljs-attr,
.hljs-selector-pseudo,
.hljs-template-tag {
  color: #87CEEB;
  font-weight: bold;
}

.hljs-variable-template,
.hljs-type,
.hljs-subst,
.hljs-variable,
.hljs-link,
.hljs-template-variable {
  color: #cc8603;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-list,
.hljs-tag,
.hljs-attribute .hljs-string,
.hljs-meta .hljs-string,
.hljs-name .hljs-string,
.hljs-deletion .hljs-string {
  list-style: none;
  text-indent: 0;
}

.hljs-title,
.hljs-section {
  font-size: 1.2em;
}

.hljs-tag .hljs-name, .hljs-tag .hljs-attr {
  color: #d94646;
}

.hljs-meta-keyword {
  color: #ea3a4a;
}

.hljs-selector-attr,
.hljs-selector-id,
.hljs-selector-class {
  color: #D19A66;
}

.hljs-template-punctuation,
.hljs-tag .hljs-attr,
.hljs-selector-pseudo .hljs-function,
.hljs-section,
.hljs-deletion,
.hljs-title,
.hljs-comment .hljs-keyword,
.hljs-link .hljs-keyword {
  color: #31a143;
}

.hljs-comment .hljs-keyword,
.hljs-link .hljs-keyword {
  color: #61AFEF;
}

.hljs-keyword.hljs-built_in {
  color: #40E0;
}

.hljs-keyword.hljs-meta {
  color: #d44b3e;
}